server {
    listen 80;
    server_name {{ pillar["web-server"]["domain"] }};

    location = /wp-login.php {
        return 403;
    }

    location = /xmlrpc.php {
        return 403;
    }

    location ^~ /wp-admin/ {
        return 403;
    }

    location / {
        proxy_pass http://{{ pillar["web-server"]["network"]["address"] }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
