auto lo
iface lo inet loopback

auto {{ pillar['wireguard']['wan_interface'] }}
iface {{ pillar['wireguard']['wan_interface'] }} inet static
    address {{ pillar['wireguard']['static_lan_ip'] }}
    gateway {{ pillar['firewall']['lan']['gateway'] }}

