$TTL 604800
@   IN  SOA ns1.{{ pillar['web-server']['domain'] }}. admin.{{ pillar['web-server']['domain'] }}. (
        2026041301 ; Serial
        604800     ; Refresh
        86400      ; Retry
        2419200    ; Expire
        604800 )   ; Negative Cache TTL
;

@   IN  NS  ns1.{{ pillar['web-server']['domain'] }}.
ns1 IN  A   {{ pillar['web-server']['network']['address'] }}

; Web server principal
www IN  A   {{ pillar['web-server']['network']['address'] }}
mail IN A   {{ pillar['web-server']['network']['address'] }}

; VPN WireGuard
vpn IN A {{ pillar['wireguard']['address'].split('/')[0] }}

{% if pillar.get('pkica', {}).get('files', {}).get('root_cert') and pillar['pkica']['files']['root_cert'] != '/etc/pki/ca/certs/ca.cert.pem' %}
; Certificado de la PKI (si hay IP configurada)
ca IN A {{ pillar['pkica']['files']['root_cert'] }}
{% else %}
; PKI CA - sin IP asignada todavia
{% endif %}
