$TTL 604800
@   IN  SOA ns1.{{ pillar['web-server']['domain'] }}. admin.{{ pillar['web-server']['domain'] }}. (
        2026031201 ; Serial
        604800     ; Refresh
        86400      ; Retry
        2419200    ; Expire
        604800 )   ; Negative Cache TTL
;

@   IN  NS ns1.{{ pillar['web-server']['domain'] }}.
ns1 IN  A {{ pillar['web-server']['network']['address'] }}

; Web server principal
www IN  A {{ pillar['web-server']['network']['address'] }}
mail IN  A {{ pillar['web-server']['network']['address'] }}

; Opcional: registrar IP de la VPN como host
vpn IN  A {{ pillar['wireguard']['address'].split('/')[0] }}

; Certificados generados por la PKI
{% if pillar['pkica'] %}
; Esto podría usarse para registros de certificados o servicios internos
ca IN  A {{ pillar['pkica']['files']['root_cert'] }}
{% endif %}
